[options]

db_name = mfbot-db
addons_path = /home/ubuntu/odoo/addons,/home/ubuntu/crypto-quant/configuration/crypto-addons
limit_memory_hard = 0
without_demo = True 
workers = 2
proxy_mode = True
xmlrpc = True
xmlrpc_interface = 127.0.0.1
xmlrpc_port = 8069
longpolling_port = 8072
no_database_list = True
