<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <menuitem id="crypto_root_menu"
            name="加密货币"
            />

  <menuitem id="strategy_root_menu"
            name="策略"
            parent="crypto_root_menu"
            action="strategy_action"
            sequence="0"/>

  <!-- <menuitem id="pnl_root_menu" -->
  <!--           name="盈亏" -->
  <!--           parent="crypto_root_menu" -->
  <!--           action="pnl_action" -->
  <!--           sequence="1"/> -->

  <menuitem id="fill_root_menu"
            name="成交"
            parent="crypto_root_menu"
            action="fill_action"
            sequence="2"/>

  <menuitem id="kline_root_menu"
            name="数据"
            parent="crypto_root_menu"
            action="kline_action"
            sequence="3"/>

</odoo>
